spring:
    datasource:
        name: test
        url: jdbc:mysql://localhost:3306/shiro?autoReconnect=true&autoReconnectForPools=true&useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
        username: root
        password: chenyong
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20
mybatis:
    mapper-locations: classpath:mybatis/*Mapper.xml
    type-aliases-package: cn.ylchen.model
    configuration:
        log-impl: org.apache.ibatis.logging.stdout.StdOutImpl